* {
    box-sizing: border-box;	
    background-color: turquoise;
    font-family: 'Permanent Marker', cursive;
}

.hide {
    display: none;
}

hr {
    border: 1px solid #000;
}

h1, h2, p, form, quiz {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}

fieldset {
    margin-bottom: 20px;
}

button {
    display: block;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
    float: center;	
    background-color: #fff;
}

.li {
	color: #fff;
}

legend {
	background-color: #000;
	color: #fff;
	padding: 10px 10px;
}

