* {
    box-sizing: border-box;	
    background-color: turquoise;
    font-family: 'Permanent Marker', cursive;
}

h1, h2, p, form {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}

button {
    display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
    float: center;	
    background-color: #fff;
}

input {
    margin-bottom: 15px;
}

button:hover {
	cursor: pointer;
}

.li {
	color: #fff;
}

legend {
	background-color: #000;
	color: #fff;
	padding: 10px 10px;
}

fieldset {
	margin-bottom: 20px;
}
